<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	 xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task-3.0.xsd">

	<!-- 激活spring中注解功能 -->
	<context:annotation-config />

	<!-- spring 自带定时器开关 -->
	<task:executor id="executor" pool-size="3"/>
	<task:scheduler id="scheduler" pool-size="3"/>
	<task:annotation-driven executor="executor" scheduler="scheduler"/>
	
	<!-- Spring bean扫描 -->
	<context:component-scan base-package="com.vlifepaper.system">
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<!-- 获取配置文件 -->
	<bean id="config"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:db-config.properties</value>
				<value>classpath:mail.properties</value> 
			</list>
		</property>
	</bean> 
	
	<!-- 获取数据源 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName">
			<value>${db.dirverClass}</value>
		</property>
		<property name="url">
			<value>${db.url}</value>
		</property>
		<property name="username">
			<value>${db.username}</value>
		</property>
		<property name="password">
			<value>${db.password}</value>
		</property>
	</bean>

	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>

	<bean id="accountDao" class="com.vlifepaper.system.dao.AccountDaoImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
	</bean> 
	
	<bean id="accessData" class="com.vlifepaper.system.dao.AccessDataImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
	</bean> 
	
    <!-- java mail 163  -->    
     <!-- 邮件发送器 163  -->    
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">    
        <property name="host" value="${mail.host}" />    
        <property name="username" value="${mail.username}" />    
        <property name="password" value="${mail.password}" />    
        <property name="defaultEncoding" value="UTF-8"></property>    
        <property name="javaMailProperties">    
            <props>    
                <prop key="mail.smtp.auth">${mail.smtp.auth}</prop>    
                <prop key="mail.smtp.timeout">${mail.smtp.timeout}</prop>   
            </props>    
        </property>    
    </bean>   
</beans>